.Rproj.user
*.Rhistory
*.RData
.Ruserdata
*.gz
*.pdf
*.png
*.rds
*.h5ad
*.h5seurat
*.mtx
*.mhtml
*.html
*.xls
*.xlsx
*.fcs
*.csv
*.tsv
*.txt
*.Rproj
*.pdf
*.vcf_bgzip
*.tabular
*.bam
*.bai
*.json
*.bed
*.interval
CRC-I/data/
CRC-I/figures/
CRC-I/results/
IgG-IgM-B/data/
IgG-IgM-B/results/
